<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - PerfectPens</title>
  <!- Custom Css -->
  <link href="/css/demo.css" rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>
<header>
  <nav>
    <!-- Add more navigation links if needed -->
  </nav>
</header>
<main>

  <div class="container">
    <h1>About PerfectPens</h1>
    <div class="button-container">
      <a href="/" class="btn btn-custom">Home</a>
    </div>
    <br>
    <div class="about-content">
    <p>At PerfectPens, we're passionate about crafting pens that not only look great, but feel great too.
      Our proprietary material is the result of years of research and development, and allows us to create
      pens that are both lightweight and durable. But we don't stop there - we offer a rainbow of colors to
      choose from, so you can express your unique style with every stroke of the pen. Whether you're a student,
      professional, or just someone who appreciates quality writing instruments, we're confident that you'll love
      our pens as much as we do.</p>
    </div>
  </div>
</main>
</body>
</html>